<div class="col-md-12">
	<h1>Sensor Metadata Management</h1>
	<div class="col-md-12" ng-init="">
		<div class="col-md-6">
			<h2>Input Message Status</h2>
		</div>
		<div class="col-md-6">
			<h2>Get Sensor Metadata</h2>
			<h3>Input Sensor ID</h3>
			<input type="text" class="form-control" id="sensor-id" placeholder="Sensor ID" ng-model="findID">
			<div class="text-center">
				<button class="btn btn-primary csn-controll" ng-click="getSensorMeta()">Get Sensor Metadata</button>
			</div>
			<div class="panel panel-default" ng-show="metaOK">
				<div class="panel-heading">
				<h3 class="panel-title">Sensor ID: {{findID}}</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>Label</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr class="">
								<td>Name</td>
								<td>{{meta.def_meta.name}}</td>
							</tr>
							<tr class="">
								<td>Measurement</td>
								<td>{{meta.def_meta.measure}}</td>
							</tr>
							<tr class="">
								<td>Registration Time</td>
								<td>{{meta.def_meta.reg_time}}</td>
							</tr>
						</tbody>
					</table>
					<p>Optional Metadata</p>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="(key, value) in meta.opt_meta.elmts">{{key}}: {{value}}</li>
					</ul>
					<p>Tag Metadata</p>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="tag in meta.snsr_tag.tags">{{tag}}</li>
					</ul>
				</div>
			</div><!--Sensor Meta Table DIV -->
		</div><!--Get Sensor Meta DIV -->
	</div><!--Entire Out DIV -->
</div>
